/* !general css      */

/* !колір основного тексту #212121; */
/* !колір вторинного тексту #757575; */
/* !колір фону-основний #F5F5F5; колір фону 2 рівня #F5F4FA; колір фону 3 рівня #2F303A; */
/* !білий для тексту #FFFFFF; */
/* !акцент #2196F3 */

:root{--primary-text-color:#757575;
--title-text-color:#212121; 
--accent-color:#2196F3;
--color--for-dark-bg:#FFFFFF;
--buttons-portf-background-color:#F5F4FA;}



body{font-family: 'Roboto',sans-serif;
    background-color:var(--color--for-dark-bg);color:var(--primary-text-color);margin:0;}
/* !видалення дефолтних маржинів *}


/* !видалення підкреслень для посилань    */
.link{text-decoration:none;}

/* !видалення маркепів списку */
.list{list-style:none;
    /* !видалення дефолтних паддінгів та маржинів */
    padding: 0;
    margin: 0;}

.section{padding-top: 94px;padding-bottom: 94px;}

.container{width:1200px; padding-right: 15px; padding-left: 15px; margin: 0 auto;}

/* !header css for all sheets */

.mainlogo-color-header{color:var(--accent-color);
    font-family: 'Raleway'; sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;}
.mainlogo-simple-header{color:
    #000000;font-family: 'Raleway'; sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;}

.list-studio {color:var(--title-text-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }

.list-portfolio{color:var(--title-text-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.list-contacts{color:var(--title-text-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}



.list-studio:hover{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;} 
.list-studio:focus{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.list-portfolio:hover{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;} 
.list-portfolio:focus{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.list-contacts:hover{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}  
.list-contacts:focus{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}

.email-header{color:var(--primary-text-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.email-header:hover{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;} 
.email-header:focus{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;} 
.phone-header{color:var(--primary-text-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.phone-header:hover{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;} 
.phone-header:focus{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}

/* !Підсвічування активної сторінки */
.site-nav .current-link{color: var(--accent-color);}



/* !footer css for all sheets */

  /* !footer logo */
.mainlogo-color{color:var(--accent-color);
    font-family: 'Raleway'; sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;}
.mainlogo-simple{color:var(--color--for-dark-bg);font-family: 'Raleway'; sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;}

.footer-studio-page{background-color:#2F303A ;}
.adress{font-style: normal;font-family: inherit;font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    
    letter-spacing: 0.03em;}

.footer-adress-text{color:var(--color--for-dark-bg)}
.footer-adress-text:hover{color:var(--accent-color)}
.footer-adress-text:focus{color:var(--accent-color)}
.footer-email{color: rgba(255, 255, 255, 0.6)}
.footer-email:hover{color:var(--accent-color)}
.footer-email:focus{color:var(--accent-color)}
.footer-phone{color: rgba(255, 255, 255, 0.6)}
.footer-phone:hover{color:var(--accent-color)}
.footer-phone:focus{color:var(--accent-color)}

.footer-email{text-decoration:none;}
.footer-phone{text-decoration:none;}

/* !Секція герой */


.hero{background-color: #C4C4C4;text-align:center;padding-top:200px;padding-bottom:210px;max-width: 1600px;height: 600px;background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../images/here-background-image.jpg
    );}

.hero .hero-title{color: var(--color--for-dark-bg); 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;margin-bottom:30px;margin-top:0;}

/* !button - під питанням!!!!!!!!! */
.button-hero{font-family: inherit; cursor:pointer; color:var(--color--for-dark-bg);background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 188% */
    
    
    text-align: center;
    letter-spacing: 0.06em;display:inline-block;
    border-radius: 4px;border-color: transparent;padding-top:10;padding:10px 32px}

.button-hero:focus{font-family: inherit; cursor:pointer; color:var(--color--for-dark-bg);background-color: #188CE8;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        /* identical to box height, or 188% */
        
        
        text-align: center;
        letter-spacing: 0.06em;
        border-radius: 4px;border-color: transparent;display:inline-block;padding:10px 32px}

.button-hero:hover{font-family: inherit; cursor:pointer; color:var(--color--for-dark-bg);background-color: #188CE8;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.87;
            /* identical to box height, or 188% */
            
            text-align: center;
            letter-spacing: 0.06em;
            border-radius: 4px;border-color: transparent;display:inline-block;padding:10px 32px}

.button{font-family: inherit; cursor:pointer; color:var(--title-text-color); background-color:var(--buttons-portf-background-color);border-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    /* identical to box height, or 188% */
    
    
    text-align: center;
    letter-spacing: 0.03em;border-radius: 4px;}

.button:hover{font-family: inherit; cursor:pointer; background-color:var(--accent-color); color:var(--color--for-dark-bg); border-color:transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    /* identical to box height, or 188% */
    
    
    text-align: center;
    letter-spacing: 0.03em;border-radius: 4px;}

.button:focus{font-family: inherit; cursor:pointer; background-color:var(--accent-color); color:var(--color--for-dark-bg); border-color:transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    /* identical to box height, or 188% */
    
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;}


    /* !body */

.benefits-svg-zone{background-color:#F5F4FA; margin-bottom: 30px; padding-bottom: 25px;padding: 25px 100px;}

.svg-phone{fill:var(--primary-text-color);cursor: pointer;margin-right:10px;}

.svg-envelope{fill:var(--primary-text-color);cursor: pointer;margin-right:10px;}

.social-net-card-pers{display: flex;justify-content: center;margin-bottom: 30px;}

.personals-svg{display: block;border-radius: 50%;width:44px;height:44px;fill:#AFB1B8;display: flex;
    justify-content: center;
    align-items: center;}

.personals-svg{margin-right: 10px;}

.personals-svg:not(:last-child){margin-right: 0px;}

.personals-svg:hover{background-color:var(--accent-color);border-radius: 50%;fill: var(--color--for-dark-bg);display: flex;
    justify-content: center;
    align-items: center;}

.personals-svg:focus{background-color:var(--accent-color);border-radius: 50%;fill: var(--color--for-dark-bg);display: flex;
        justify-content: center;
        align-items: center;}

.companies-svgs{display:block;width:170px;height:92px; border: 1px solid #AFB1B8;border-radius: 4px;fill:#AFB1B8;display: flex;
    justify-content: center;
    align-items: center;margin-right:30px;}

.companies-svgs:hover{border: 1px solid var(--accent-color);fill: var(--accent-color);}

.companies-svgs:focus{border: 1px solid var(--accent-color);fill: var(--accent-color);}

.footer-zone{display: flex}

.follow-zone{display: flex;flex-direction: column;}

.follow-text-footer{font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;color:var(--color--for-dark-bg);}

.social-net-card-footer{display: flex;justify-content: center;margin-top: 20px;}

.follow-svg-footer{display: block;border-radius: 50%;width:44px;height:44px;fill:var(--color--for-dark-bg);display: flex;
    justify-content: center;
    align-items: center;background: rgba(255, 255, 255, 0.1);}

.follow-svg-footer:hover{background: var(--accent-color);}

.follow-svg-footer:focus{background: var(--accent-color);}

.follow-zone{padding-top: 12px;margin-left: 70px;}

.follow-svg-footer{margin-right: 10px;}

.follow-svg-footer:not(:last-child){margin-right: 0px;}


/* !Заголовки секцій */
.title-third{color: var(--title-text-color);font-weight: 700;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

.small-title-prtf{color: var(--title-text-color);font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    
    letter-spacing: 0.06em;}

.section-title{color: var(--title-text-color);font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;}

.name-title{color: var(--title-text-color);font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;}

.paragraph-studio{font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    
    letter-spacing: 0.03em;
    }



.paragraph-positions{font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;}



.paragraph-prtf{font-size: 16px;
    line-height: 1.875;
    /* identical to box height, or 188% */
    
    letter-spacing: 0.03em;}

/* .Приховуємо заголовок на сторінці студія переваги */

.studio-section-grey{background-color: #F5F4FA;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);}

/* !Позиціонування */
/* !глобальне скидання стилів */
h1,h2,h3,h4,h5,h6,p,ul{margin:0;padding:0}

/* !хедер */


.site-nav {display:flex;margin-left:93px;}
.list-item-header{margin-right: 50px;}
.site-nav .list-item-header:last-child{margin-right: 0;}
.list-header{display:block;padding-top:32px;padding-bottom:32px;}


.header-contacts{display:flex;margin-left:auto;}
.header-contacts .contacts-header-item +.contacts-header-item{margin-left:50px;}

.main-nav{display:flex;align-items: center;}
.header-zone{display:flex;align-items: center;align-items:center}

.mainlogo-header{padding-top:25px;padding-bottom:25px;}

/* !нижня рамка хедера */
.header-space{border-bottom: 1px solid #ECECEC;;}

/* !герой */
.hero{background-color: #2F303A;text-align:center;margin: 0 auto;padding-top:200px;padding-bottom:200px;}
.hero-title{margin-bottom:30px}

/* !переваги */
/* .benefits{padding-top:94px;padding-bottom:118px;} */
.benefits .list{display:flex;justify-content: space-around;justify-content: space-between;}
.benefits-list>.item{margin-right:30px;}
.benefit{margin-bottom:10px;}

/* !чим займаємося */
.works{padding-top: 0px;}
.works-list>.item{margin-right:30px;}
.works>.section-title{margin:0;}
.works-list{display: flex;margin-top:50px;justify-content: center;}
.works-list>.item:nth-child(3n+0){margin-right:0}
.work-picture{display: block;}

/* !наша команда */
.studio-section-grey{margin: 0 auto;}
.names-text{text-align: center;padding-top: 30px;padding-bottom: 30px;}
.team-list{display: flex;justify-content: space-around;}
.team-item{background-color: var(--color--for-dark-bg);border-radius: 0px 0px 4px 4px;}
.team-list>.team-item:nth-child(3n+0){padding-right:0}
.name-title{margin-bottom: 10px;}
.person-picture{display: block;}
.title-team{margin-bottom:50px}
/* !футер */
.footer-flex{display: flex;flex-direction: column;}

.footer-studio-page{margin: 0 auto;padding-bottom: 60px;padding-top: 60px;}
.mainlogo-footer{margin-bottom:20px;margin-top:0;padding:0;}
.footer-adress-text{display:block;padding:0}
.footer-email{margin-top:9px;display:block;padding:0}
.footer-phone{margin-top:9px;display:block;padding:0}

/* !кнопки-фільтри портфоліо */
.filters{display: flex; justify-content: center;}
.filters>.button:nth-last-child{margin-right:0}
.button{margin-right:8px;padding:6px 22px}
.buttons:nth-child(1){padding:6px 25px}
/* !приклади робіт портфоліо */

.products{display: flex;flex-wrap: wrap;margin-top: 56px;justify-content:center;}
.products .list{margin-right: 30px;margin-bottom:30px; width: calc(100%-60px)/3;box-sizing: border-box;}
.products .list:nth-child(3n){margin-right: 0px;}
.products .list:nth-child(1n+7){margin-bottom: 0px;}
.description{padding:20px 24px}
.small-title-prtf{margin-bottom:4px;padding:0px;display: block;}
.paragraph-prtf{color:var(--primary-text-color);display: block;}

/* !Додаємо нижню рамку в картки портфоліо */
.product-item{border: 1px solid #EEEEEE;box-sizing: border-box;}

/* !прибираємо підкреслення тексту в посиланнях продуктів портфоліо */
.product-link{text-decoration: none};





