/* !general css      */

/* !колір основного тексту #212121; */
/* !колір вторинного тексту #757575; */
/* !колір фону-основний #F5F5F5; колір фону 2 рівня #F5F4FA; колір фону 3 рівня #2F303A; */
/* !білий для тексту #FFFFFF; */
/* !акцент #2196F3 */

:root{--primary-text-color:#757575;
--title-text-color:#212121; 
--accent-color:#2196F3;
--color--for-dark-bg:#FFFFFF;
--buttons-portf-background-color:#F5F4FA;}

body{font-family: 'Roboto',sans-serif;
    font-style: normal; background-color:#FFFFFF;color:#757575;}

/* !видалення підкреслень для посилань    */
.link{text-decoration:none;}

/* !видалення маркепів списку */
.list{list-style:none;}


/* !header css for all sheets */

.mainlogo-color-header{color:var(--accent-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;}
.mainlogo-simple-header{color:
    #000000;font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;}

  


.list-studio {color:var(--title-text-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }

.list-portfolio{color:var(--title-text-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.list-contacts{color:var(--title-text-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}



.list-studio:hover{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;} 
.list-studio:focus{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.list-portfolio:hover{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;} 
.list-portfolio:focus{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.list-contacts:hover{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}  
.list-contacts:focus{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}

.email-header{color:var(--primary-text-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.email-header:hover{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;} 
.email-header:focus{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;} 
.phone-header{color:var(--primary-text-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.phone-header:hover{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;} 
.phone-header:focus{color:var(--accent-color);font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}

/* !Підсвічування активної сторінки */
.site-nav .current-link{color: var(--accent-color);}



/* !footer css for all sheets */

  /* !footer logo */
.mainlogo-color{color:var(--accent-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;}
.mainlogo-simple{color:var(--color--for-dark-bg);font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;}

.footer-studio-page{background-color:#2F303A ;}
.adress{font-style: normal;font-family: inherit;}

.footer-adress-text{color:var(--color--for-dark-bg)}
.footer-adress-text:hover{color:var(--accent-color)}
.footer-adress-text:focus{color:var(--accent-color)}
.footer-email{color: rgba(255, 255, 255, 0.6)}
.footer-email:hover{color:var(--accent-color)}
.footer-email:focus{color:var(--accent-color)}
.footer-phone{color: rgba(255, 255, 255, 0.6)}
.footer-phone:hover{color:var(--accent-color)}
.footer-phone:focus{color:var(--accent-color)}

.footer-email{text-decoration:none;}
.footer-phone{text-decoration:none;}

/* !Секція герой */

.hero{background-color: #2F303A;}
.hero .hero-title{color: var(--color--for-dark-bg); 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;}

/* !button - під питанням!!!!!!!!! */
.button-hero{font-family: inherit; cursor:pointer; color:var(--color--for-dark-bg);background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 188% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;}

.button-hero:focus{font-family: inherit; cursor:pointer; color:var(--color--for-dark-bg);background-color: #188CE8;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        /* identical to box height, or 188% */
        
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;}

.button-hero:hover{font-family: inherit; cursor:pointer; color:var(--color--for-dark-bg);background-color: #188CE8;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.87;
            /* identical to box height, or 188% */
            
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;}

.button{font-family: inherit; cursor:pointer; color:var(--title-text-color); backround-color:var(--buttons-portf-background-color);border-color: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 188% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;}

.button:hover{font-family: inherit; cursor:pointer; background-color:var(--accent-color); color:var(--color--for-dark-bg); border-color:transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 188% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;}

.button:focus{font-family: inherit; cursor:pointer; background-color:var(--accent-color); color:var(--color--for-dark-bg); border-color:transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 188% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;}


    /* !body */

/* !Заголовки секцій */
.title-third{color: var(--title-text-color);font-weight: 700;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

.small-title-prtf{color: var(--title-text-color);font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    
    letter-spacing: 0.06em;}

.section-title{color: var(--title-text-color);font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;}

.name-title{color: var(--title-text-color);font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;}

.paragraph-studio{font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    
    letter-spacing: 0.03em;
    }



.paragraph-positions{font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;}



.paragraph-prtf{font-size: 16px;
    line-height: 1.875;
    /* identical to box height, or 188% */
    
    letter-spacing: 0.03em;}

/* .Приховуємо заголовок на сторінці студія переваги */

.studio-section-grey{background-color: #F5F4FA;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);

