.mainlogo-blue{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    }
.mainlogo-white{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;

    
    color: #000000;}
.mainlogo{position: absolute;
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px; text-decoration: none;}

.no-bull{
            list-style-type: none;} 

.nav-studio{position: absolute;
            width: 45px;
            height: 16px;
            left: 453px;
            top: 32px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em;
            
            color: #2196F3;text-decoration: none;}

.nav-portfolio{position: absolute;
        width: 72px;
        height: 16px;
        left: 548px;
        top: 32px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        
        color: #212121;;text-decoration: none;}

.nav-contacts{position: absolute;
        width: 64px;
        height: 16px;
        left: 670px;
        top: 32px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        
        color: #212121;text-decoration: none;}

.email-header{position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #2196F3;text-decoration: none;}

.phone-header{position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #757575; text-decoration: none;}

.section-hero{position: absolute;
        width: 1600px;
        height: 600px;
        left: 0px;
        top: 80px;
        
        background: #2F303A;}

.h1-text{position: absolute;
        width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        /* or 136% */
        
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        
        color: #FFFFFF;
        }

    
            border-radius: 4px;}

.button-in-hero-text{position: absolute;color: #FFFFFF;
        width: 152px;
        height: 30px;
        left: 724px;
        top: 440px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */
        
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        
        color: #FFFFFF;}
        
.button-in-hero{position: absolute;
            width: 216px;
            height: 50px;
            left: 692px;
            top: 430px;
            
            background: #2196F3;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;}

/* !FOOTEr-studio-page */

.footer-studio-page{position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;
    
    background: #2F303A;}

.footer-adress-ul{
    position: absolute;
    width: 231px;
    height: 81px;
    left: 215px;
    top: 2205px;
    }

.footer-adress-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;text-decoration: none;}

.footer-email{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);text-decoration: none;}

.footer-phone{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);text-decoration: none;}

.mainlogo-footer{position: absolute; padding:  60px 1236px 161px 219px;
    text-decoration: none;}

.mainlogo-blue-footer{font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #2196F3;}

.mainlogo-white-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;}


