.footer__logo{margin-bottom:20px;margin-top:0;padding:0;}


  /* !footer logo */
.footer__logo-part--blue{color:$accent-color;
    font-family: 'Raleway'; sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;}
.footer__logo-part--white{color:$color--for-dark-bg;font-family: 'Raleway'; sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;}

.footer{background-color:#2F303A;}
.footer__adress{font-style: normal;font-family: inherit;font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    
    letter-spacing: 0.03em;}

.footer__adress-text{color:$color--for-dark-bg;transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1)}
.footer__adress-text:hover{color:$accent-color}
.footer__adress-text:focus{color:$accent-color}
.footer__email{color: rgba(255, 255, 255, 0.6);transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1)}
.footer__email:hover{color:$accent-color}
.footer__email:focus{color:$accent-color}
.footer__phone{color: rgba(255, 255, 255, 0.6);transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1)}
.footer__phone:hover{color:$accent-color}
.footer__phone:focus{color:$accent-color}

.footer-email{text-decoration:none;}
.footer-phone{text-decoration:none;}

.footer__zone{display: flex;align-items: baseline;}

.footer__follow-zone{display: flex;flex-direction: column;}

.footer__follow-text{font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;color:$color--for-dark-bg;}

.footer__social-net-card{display: flex;justify-content: center;margin-top: 20px;}

.footer__follow-svg-link{display: block;border-radius: 50%;width:100%;height:100%;fill:$color--for-dark-bg;display: flex;
    justify-content: center;
    align-items: center;background: rgba(255, 255, 255, 0.1);transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)}

.footer__follow-svg-link:hover{background: $accent-color;}

.footer__follow-svg-link:focus{background: $accent-color;}

.footer__follow-zone{margin-left: 70px;}

.footer__follow-svg-item{margin-right: 10px;width: 44px;height: 44px;margin-right: 10px;}

.footer__follow-svg-link:not(:last-child){margin-right: 0px;}

.footer__flex{display: flex;flex-direction: column;}

.footer{margin: 0 auto;padding-bottom: 60px;padding-top: 60px;}
.footer__logo{margin-bottom:20px;margin-top:0;padding:0;}
.footer-adress-text{display:block;padding:0}
.footer-email{margin-top:9px;display:block;padding:0}
.footer-phone{margin-top:9px;display:block;padding:0}

/* !Стилі для форми у футері */

.footer__subscribe-zone{display: flex;flex-direction: column;margin-left: 93px;}
.footer__form{display: flex;}

.footer__form-input{background-color: transparent;border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;box-sizing: border-box;width: 358px;height: 50px;padding-left: 16px;font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color:$color--for-dark-bg}

.footer__subscribe-title{font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color:$color--for-dark-bg;margin-bottom: 20px;}

.footer__submit-button{background-color:$accent-color;width: 200px;
    height: 50px;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;border: none;font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;color:$color--for-dark-bg;margin-left: 12px;display: flex;align-items: center;justify-content: center;}

.footer__send-icon{fill: $color--for-dark-bg;margin-left: 10px;}

.footer__submit-button:hover{cursor:pointer;background-color: #188CE8;}