.logo__part--black{color:$accent-color;font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;}



.logo__part--blue{color:
    #000000;font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;}

.logo__part--blue{font-family: 'Raleway', sans-serif}

.list-studio {color:$title-text-color;font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1)}

.list-portfolio{color:$title-text-color;font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1)}
.list-contacts{color:$title-text-color;font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1)}



.list-studio:hover{color:$accent-color;font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;} 
.list-studio:focus{color:$accent-color;font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.list-portfolio:hover{color:$accent-color;font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;} 
.list-portfolio:focus{color:$accent-color;font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.list-contacts:hover{color:$accent-color;font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}  
.list-contacts:focus{color:$accent-color;font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}

.header-contacts__email{color:$primary-text-color;font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;fill:currentColor; display: flex;align-items: center; transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1)}


.header-contacts__email:hover{color:$accent-color;font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;} 
.header-contacts__email:focus{color:$accent-color;font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;} 
.header-contacts__phone{color:$primary-text-color;font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;fill:currentColor;display: flex;align-items: center;transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1)}
.header-contacts__phone:hover{color:$accent-color;font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;} 
.header-contacts__phone:focus{color:$accent-color;font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}

/* !Підсвічування активної сторінки */
.site-nav .current-link{color: $accent-color;}

.header-contacts__svg-envelope{margin-right: 10px;}
.header-contacts__svg-phone{margin-right: 10px;}





/* !нижня рамка хедера */
.header-space{border-bottom: 1px solid #ECECEC;}

/* !додаємо підкресленн */
.current-link::after{content:'';  display:block; position: absolute;
    width: 100%;
    height: 4px;background-color: #188CE8;bottom: 0;border-radius: 2px;}

.site-nav__item{position: relative;}

.header-space{border-bottom: 1px solid #ECECEC;}


// АДАПТИВКА

// Видаляємо флекси
// .header-zone{display:flex;align-items: center;align-items:center}

// Прибераємо маржин лефт для контактів хедера до 1200 пікселів
.header-contacts .header-contacts__item +.header-contacts__item{
   
    // desctop screen 1200px & >
    @media screen and (min-width:1200px){margin-left:50px;}
    }
    
    
// Ховаємо мейн нав хедера до 1200 пікселів    
// .main-nav{display: none;
        
        
//         // desctop screen 1200px & >
//         @media screen and (min-width:1200px){display:flex;align-items: center;}
//     }

.header-contacts{display:none;

    // desctop screen 1200px & >
@media screen and (min-width:1200px){display:flex;margin-left:auto;}


        .header-contacts__item +.header-contacts__item{
            @media screen and (min-width:1200px){margin-left:50px;}
            }
    }

// Встановлюємо паддінги для різниї вієвпортів
    .logo{display: block;

// desctop screen 480px & >
@media screen and (min-width:480px){padding-top:16px;padding-bottom:16px;}
        

// desctop screen 1200px & >
@media screen and (min-width:768px){padding-top:26px;padding-bottom:26px;}

        // desctop screen 1200px & >
@media screen and (min-width:1200px){padding-top:25px;padding-bottom:25px;}
        
}