.button{font-family: inherit; cursor:pointer; color:$title-text-color; background-color:$buttons-portf-background-color;border-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    /* identical to box height, or 188% */
    
    
    text-align: center;
    letter-spacing: 0.03em;border-radius: 4px;transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)}

.button:hover{font-family: inherit; cursor:pointer; background-color:$accent-color; color:$color--for-dark-bg; border-color:transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    /* identical to box height, or 188% */
    
    
    text-align: center;
    letter-spacing: 0.03em;border-radius: 4px;}

.button:focus{font-family: inherit; cursor:pointer; background-color:$accent-color; color:$color--for-dark-bg; border-color:transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625; box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    /* identical to box height, or 188% */
    
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;}

.section{padding-top: 94px;padding-bottom: 94px;}

.container{width:1200px; padding-right: 15px; padding-left: 15px; margin: 0 auto;justify-content: space-between;}
    
.team-section{background-color: #F5F4FA;}

.title-third{color: $title-text-color;font-weight: 700;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

.small-title-prtf{color:$title-text-color;font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    
    letter-spacing: 0.06em;}

.section-title{color: $title-text-color;font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;}