
.site-nav{position: relative;}

// АДАПТИВКА
// Приховуємо сайт нав до 1200 пікселів вієвпорту
.site-nav {display: flex;
    align-items: center;
  
    @media (max-width: 767px) {
      display: none;
    }
}
.site-nav__item{
    position: relative;
  
    &:nth-child(2) {
      @media screen and (min-width: 768px) {
        margin-left: 56px;
        margin-right: 51px;
      }
  
      @media screen and (min-width: 1200px) {
        margin-left: 53px;
        margin-right: 50px;
      }
    }
  }
// .site-nav .site-nav__item:last-child{margin-right: 0;}
.site-nav__link{display:block;padding-top:32px;padding-bottom:32px;}