.site-nav {display:flex;margin-left:93px;
    .site-nav__item:last-child{margin-right: 0;}    }
.site-nav__item{margin-right: 50px;}
// .site-nav .site-nav__item:last-child{margin-right: 0;}
.site-nav__link{display:block;padding-top:32px;padding-bottom:32px;}