
.benefits__paragraph{font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    
    letter-spacing: 0.03em;
    }




.benefits__title{margin-bottom:10px;text-align: center;}





// // Адаптивка
.benefits__svg-zone{background-color:#F5F4FA; margin-bottom: 30px; display: flex;align-items: center;justify-content: center;width: 100%;height:120px;}




.benefits__list{


  // tablests screen 768px & >
  @media screen and (min-width: 768px) {
    display: flex;

    flex-wrap: wrap;

    gap: 30px;
  }


    // tablests screen 1200px & >
    @media screen and (min-width: 1200px){
      @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    
        justify-content: center;
      }
}
}


  .benefits__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
    }
  
    @media screen and (min-width: 1200) {
      flex-basis: calc((100% - 90px) / 4);
    }
  }

