.hero{background-color: #C4C4C4;text-align:center;padding-top:200px;padding-bottom:210px;max-width: 1600px;height: 600px;background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../images/here-background-image.jpg
    );}

.hero .hero__title{color: $color--for-dark-bg; 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;margin-bottom:30px;margin-top:0;}

/* !button - під питанням!!!!!!!!! */
.hero__button{font-family: inherit; cursor:pointer; color:$color--for-dark-bg;background-color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 188% */
    
    
    text-align: center;
    letter-spacing: 0.06em;display:inline-block;
    border-radius: 4px;border-color: transparent;padding-top:10;padding:10px 32px;transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)}

.hero__button:focus{font-family: inherit; cursor:pointer; color:$color--for-dark-bg;background-color: #188CE8;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        /* identical to box height, or 188% */
        
        
        text-align: center;
        letter-spacing: 0.06em;
        border-radius: 4px;border-color: transparent;display:inline-block;padding:10px 32px}

.hero__button:hover{font-family: inherit; cursor:pointer; color:$color--for-dark-bg;background-color: #188CE8;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.87;
            /* identical to box height, or 188% */
            
            text-align: center;
            letter-spacing: 0.06em;
            border-radius: 4px;border-color: transparent;display:inline-block;padding:10px 32px}

.hero{background-color: #2F303A;text-align:center;margin: 0 auto;padding-top:200px;padding-bottom:200px;}
.hero-title{margin-bottom:30px}