// !стилі для Боді
body{font-family: 'Roboto',sans-serif;
    background-color:$color--for-dark-bg;color:$primary-text-color;margin:0;}

    html {
        box-sizing: border-box;
      }
      
      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }
      
      
      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
